.backgroundiv {
    background-color: #3498db;
    color: white;
    padding: 20px;
    border: 2px solid #2980b9;
    margin: 20px;
    text-align: center;
    font-family:"Candara";
}
.leftbackgroundiv {
    background-color: #b3185b;
    color: white;
    padding: 20px;
    border: 2px solid #a8ff39;
    margin: 20px;
	text-align: left;
    font-family:"Candara";
}
a{
    text-decoration: none;
}
.divdiv{
    background-color: #ffffff;
    color: black;
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
	text-align: left
}
.divdiv:hover{
    background-color: #eeeeee;
    color: black;
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
	text-align: left;
}
input {
    background-color: #1469bd00;
    border: #aca9a97d solid 1px;
    color: black;
	box-sizing: conte-box;
}
input:focus {
	border-style: solid;
	border-color: #03a9f4;
	box-shadow: 0 0 7px #03a9f4;
	outline: none;
}
code {
	color: #c7254e;
	background-color: #f9f2f4;
}
.selects{
	background:rgba(0,0,0,0.15);
	border-radius:10px;
	border:none;
	font-family:"Microsoft YaHei UI light";
}
button {
	background-color: #123456;
	border: none;    
  	color: white;
	text-align: center;
	display: inline-block;
	border-radius:8px;
	font-size: 15px;
}
.norcal{
    background-color: #ffffff;
    color: black;
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
}
.norcal:hover{
    background-color: #eeeeee;
    color: black;
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
}
